<h1>Here's the short version!</h1>

<p><%= p @url.link %> can now be reached by putting <b><a href="http://<%=@url.link %>">localhost:3000/go/<%= p @url.random_string %> </b></a> into your browser.</p>
	</div>
   	<button class="btn-default btn-xs" id="goto"><a href="http://<%=@url.link%>">Go to your webpage</a></button>
  
    <%= link_to "Main Page", new_url_path, :class => "btn btn-default btn-xs" %>
    
    <%= link_to "All Ritlys", urls_path, :class => "btn btn-default btn-xs" %>
	</div>